.full-player {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    z-index: 2000;
}

.fp1-page-cont{
    display: flex;
    align-items: center;
}

.fp1-player-cont-top {

    display: grid;
    /* justify-content: center; */
    align-items: center;
    min-width: 600px;
    min-height: 100vh;
    max-height: 100vh;
}

.fp1-player-cont {
    margin: auto 5%;
    text-align: center;
    flex-grow: 2;
    padding: 20px 0;
    background-color: #eed;
    border: solid 1px rgba(206, 214, 224,1.0);
}



.fp1-player-fav-cont{
    background-color: teal;
    min-height: 500px;
    flex-grow: 2;
}

.fp1-app-name{
    font-size: 32px;
    margin-bottom: 20px;
}

.fp1-song-img-cont{
    min-width: 220px;
    max-width: 220px;
    min-height: 220px;
    max-height: 220px;
    display: inline-block;
    padding: 5px;
    border: solid 1px rgba(47, 53, 66, 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.fp1-song-img{
    width: 100%;
}

.fp1-song-title{
    padding: 10px 5px;
    margin: 10px 0;
    color: var(--dark-red);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--light-yellow)
}