.player-page-container {
  display: grid;
  justify-content: center;
  overflow-y: auto;
  max-height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
}

.player-background {
  position: fixed;
  z-index: -100;
  opacity: 0.5;
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: animate-player-bg 6s infinite;
  -webkit-animation: animate-player-bg 10s infinite;
}

@keyframes animate-player-bg {
  0%,
  100% {
    filter: blur(55px) grayscale(50%);
    -webkit-filter: blur(55px) grayscale(50%);
  }
  50% {
    filter: blur(80px) grayscale(50%);
    -webkit-filter: blur(80px) grayscale(50%);
  }
}
.player-top-site-name {
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.player-top-site-name span{
  background: -webkit-linear-gradient(
    45deg,
    var(--dark-blue),
    var(--dark-pink)
  );
  font-family: 'Rye', cursive;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player-card {
  margin: 10px 20px 60px 20px;
  padding: 30px;
  border: solid 1px var(--dark-blue);
  border-radius: 7px;
  display: inline-block;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  min-width: 1300px;
  display: flex;
  background-color: rgba(245, 246, 250, 1);
  box-shadow: rgba(255, 255, 255, 1) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.player-card-left {
  max-width: 260px;
  max-height: 260px;
  overflow: hidden;
}

.player-thumb-cont {
  display: grid;
  justify-content: center;
  align-items: center;
}

.player-thumb {
}

.player-card-right {
  padding: 5px 20px;
  flex-grow: 2;
}

.player-data-row {
  display: inline-flex;
  flex-direction: column;
}

.pd-title {
  display: inline-block;
}

.pd-category {
  margin: 10px 0;
  display: inline-block;
}

.pd-singer-cont {
}

.pd-singer {
}

.pd-scrubber {
  margin: 15px 0 0 0;
  min-width: 600px;
  max-width: 600px;
}

.pd-time-cont {
  min-height: 26px;
  width: 600px;
}

.pd-curr-time {
  float: left;
}

.pd-duration {
  float: right;
}

.player-control-btn-cont {
  display: inline-flex;
  flex-direction: row;
  gap: 1em;
  padding: 6px 40px;
  border: solid 1px var(--dark-pink);
  border-radius: 7px;
  background-image: radial-gradient(white, rgba(200, 200, 200, 0.7));
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.pd-control-btn {
  padding: 4px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
}

.pd-prev-btn {
}

.pd-play-pause-btn {
}

.pd-next-btn {
}

.pd-scrubber[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 3px;
  background: rgba(220, 221, 225, 1);
  border-radius: 5px;
  background-image: linear-gradient(var(--dark-pink), var(--dark-yellow));
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
.pd-scrubber[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ff4500;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

.pd-scrubber[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ff4500;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

.pd-scrubber[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ff4500;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

.pd-scrubber[type="range"]::-webkit-slider-thumb:hover {
  background: #ff0200;
}

.pd-scrubber[type="range"]::-moz-range-thumb:hover {
  background: #ff0200;
}

.pd-scrubber[type="range"]::-ms-thumb:hover {
  background: #ff0200;
}

/* Input Track */
.pd-scrubber[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.pd-scrubber[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.pd-scrubber[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
