.h-latest-uploads{
    border-bottom: solid 2px var(--dark-yellow);
}

.latest-upload-more-btn{
    padding: 10px 45px;
    text-align: end;
    margin: 0 12px;
    background-image: linear-gradient(to right, rgba(47, 53, 66, 0.2), transparent, rgba(47, 53, 66, 0.2));
}

.latest-upload-more-btn a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-red);
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    position: relative;
}

.h-lu-list{
    padding: 0 12px;
}