

.header{
    display: flex;
    background-color: var(--dark-black);
    color: var(--light-white);
    padding: 15px;
    border-bottom: solid 2px var(--light-white);
    align-items: center;
}

.header-left{
    display: flex;
    flex-direction: column;
}

.header-left img{
    width: 330px;

}

.header-left span{
    font-family: 'Yeon Sung', cursive;
    padding: 0 20px;
    font-size: 18px;
}

.header-right{
    flex-grow: 2;
    text-align: end;
    padding-left: 10px;
    padding-right: 4%;
}

.header-search-cont{
    position: relative;
    overflow: hidden;
}

.header-search-cont input{
    padding: 8px 10px;
    padding-right: 45px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    min-width: 300px;
    letter-spacing: 1px;
    font-family: 'Courgette', cursive;
}

.header-search-cont button{
    padding: 9px 12px;
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    background-image: linear-gradient(to right, transparent, var(--dark-yellow));
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    color: var(--dark-red);
}