.footer {
    text-align: center;
    background-color: rgba(15, 185, 177, 1.0);
    color: white;
}

.footer .footer-dev-name {
    color: rgba(75, 101, 132, 1.0);
    font-weight: bold;
    cursor: pointer;
}

.footer p {
    padding: 8px 0;
}

.footer p:first-child {
    border-bottom: 2px solid var(--dark-yellow);
}






img {
    max-width: 100%;
}

.user-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(47, 54, 64, 0.6);
    position: fixed;
    top: 0;
    z-index: 200;
    min-width: 100%;
}

.uc-close-btn{
    position: absolute;
    z-index: 200;
    font-size: 24px;
    right: 30px;
    top: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.uc-close-btn:hover{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    color: var(--dark-yellow);
}

.card {
    position: relative;
    background: #333;
    width: 400px;
    /* height: 75vh; */
    border-radius: 6px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card__image-container {
    margin: -2rem -2rem 1rem -2rem;
}

.card__line {
    opacity: 0;
    animation: LineFadeIn 0.8s forwards ease-in;
    -webkit-animation: LineFadeIn 0.8s forwards ease-in;
}

.card__image {
    opacity: 0;
    animation: ImageFadeIn 0.8s 1s forwards;
    -webkit-animation: ImageFadeIn 0.8s 1s forwards;
}

.card__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.card__content {
    margin-top: -1rem;
    opacity: 0;
    animation: ContentFadeIn 0.8s 1.2s forwards;
    -webkit-animation: ContentFadeIn 0.8s 1.2s forwards;
}

.card__svg {
    position: absolute;
    left: 0;
    top: 235px;
}

@keyframes LineFadeIn {
    0% {
        opacity: 0;
        d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
        stroke: var(--dark-yellow);
    }

    50% {
        opacity: 1;
        d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
        stroke: var(--dark-red);
    }

    100% {
        opacity: 1;
        d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
        stroke: rgba(72, 126, 176,1.0);
    }
}

@keyframes ContentFadeIn {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ImageFadeIn {
    0% {
        transform: translate(-0.5rem, -0.5rem) scale(1.05);
        opacity: 0;
        filter: blur(2px);
    }

    50% {
        opacity: 1;
        filter: blur(2px);
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        filter: blur(0);
    }
}









.effect {
    width: 100%;
    padding: 10px 0px 10px 0px;
  }
  .effect .buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  /* styles for a common effect !!!YOU NEED THEM */
  .effect {
    text-align: center;
  }
  .effect a {
    text-decoration: none !important;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
    color: #dcdde1;
    border: 2px solid #212121;
  }
  .effect a i {
    position: relative;
    z-index: 3;
  }
  .effect a:last-child {
    margin-right: 0px;
  }
  .effect a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .effect a i {
    display: inline-block;
    vertical-align: middle;
  }









/* varrius effect */
.effect.varrius a {
    transition: all 0.2s linear 0s;
}

.effect.varrius a:after {
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    top: -110%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #dcdde1;
    border-radius: 50%;
}

.effect.varrius a:hover {
    color: #212121;
}

.effect.varrius .uc-email:hover {
    border-color: var(--dark-yellow);
}

.effect.varrius .uc-phone:hover {
    border-color: var(--dark-red);
}

.effect.varrius .uc-facebook:hover {
    border-color: var(--dark-blue);
}

.effect.varrius .uc-instagram:hover {
    border-color: var(--dark-red);
}

.effect.varrius .uc-github:hover {
    border-color: var(--dark-green);
}

.effect.varrius a:hover:after {
    top: 5%;
    transition: all 0.2s linear 0s;
}