@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
/* font-family: 'Yeon Sung', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
/* font-family: 'Bubblegum Sans', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
/* font-family: 'Rye', cursive; */

*{

  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--light-white);
  font-family: 'Ubuntu', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

body::before{
  content: attr(data-before);
  position: fixed;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(340deg);
  -webkit-transform: translate(-50%, -50%) rotate(340deg);
  -moz-transform: translate(-50%, -50%) rotate(340deg);
  -ms-transform: translate(-50%, -50%) rotate(340deg);
  -o-transform: translate(-50%, -50%) rotate(340deg);
  opacity: 0.1;
  font-size: 10vw;
  vertical-align: 50%;
  background: -webkit-linear-gradient(#fa8231, #2d98da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Rye', cursive;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  /* blacks */
  --light-black: #2f3640;
  --dark-black: #2d3436;

  /* yellow */
  --light-yellow: #ffcd06;
  --dark-yellow: #e1b12c;

  /* pink */
  --light-pink: #fd79a8;
  --dark-pink: #e84393;

  /* red */
  --light-red: #eb3b5a;
  --dark-red: #eb4d4b;

  /* green */
  --light-green: #26de81;
  --dark-green: #20bf6b;

  /* blue */
  --light-blue: #54a0ff;
  --dark-blue: #0097e6;

  /* white */
  --light-white: rgba(245, 246, 250, 1.0);
  --dark-white: #dfe6e9;

  --hover: rgba(45, 52, 54, 0.15);
}


.fs-red{
  color: var(--dark-red);
}

h3{
  font-weight: normal;
}







/*  SCROLLBAR */


::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--dark-blue);
}





/* POINTER FOLLOWER */

.pointer-follow{
  position: absolute;
  top: 0;
  z-index: 9999;
  display: inline-block;
  /*background-color: green;
  */min-width: 24px;
  min-height: 24px;
  border: solid 1px var(--dark-red);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  mix-blend-mode: revert;
  pointer-events: none;
  overflow: hidden;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.pointer-follow::after{
  content: '';
  z-index: -1;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  min-width: 6px;
  min-height: 6px;
  background-color: var(--dark-yellow);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}